<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="RetryField.ITransformExample"/>
        <listener class-name="RetryField.ITestListenerUse"/>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="2" name="C:/Users/swapn/IdeaProjects/SwapnaliAutomationProject">
        <classes>
           <class name="RetryField.RetryAnalyzerClass"/>
        </classes>
    </test>
</suite>


